.body {
  position: absolute;
  top: 74px;
  width: 100%;
  height: 100%;

}

.heading_title {
  color: #666;
  text-align: center;
  position: relative;
  width: 100%;
  display: block;
  padding: 45px 0px 53px 0px;
  font-weight: 100;
}

.heading_img_out {
  background: url("http://d2zv8c502a1nqm.cloudfront.net/static/images/overview/bg_main1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 564px;
  background-position: 50% 50%;
}

.heading_img_in {
  background: url("http://d2zv8c502a1nqm.cloudfront.net/static/images/overview/img_main1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 80%;
  position: relative;
  left: 10%;
  top: 14%;
}
