.section {
  position: absolute;
  width: 1110px;
  height: 100%;
  top: 800px;
  margin-left: 77.5px;
  margin-right: 77.5px;
  margin-bottom: 69px;
  padding-top: 49px;
}

.btn_get_message {
  width: 100%;
  height: 58px;
}

.btn_get_message_button {
  width: 320px;
  height: 18px;
  padding: 20px;
  text-align: center;
  position: relative;
  left: 370px;
  background-color: #438bff;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: 18px;
}

.section_heading {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 29px;
  height: 54px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: #2c3b53;
  font-weight: 100;
}
